<div class="hero-about">
  <div class="hero-about-overlay"></div>
  <div class="hero-about-text">
    <h1><%= t('index.title') %></h1>
    <p><%= t('index.description') %></p>

  <%= form_with url: licenses_path, method: :get, local: true do %>
    <%= label_tag :country, t('index.filter_by_country') %>
    <%= select_tag :country, options_for_select(License.pluck(:country).uniq, params[:country] || 'Hungary') %>
    <%= submit_tag t('index.filter_button') %>
  <% end %>


    <button class="btn-cta"><%= t('index.contact_us') %></button>
  </div>
</div>

<div class="driving-school-content">
  <h1 style="text-align: center;"><%= t('licenses.heading') %></h1>

  <div class="license-container">
    <% @licenses.each do |license| %>
      <%= link_to license_path(locale: set_locale_from_license(license), slug: license.slug), class: "license-link" do %>
        <div class="license-card">
          <div class="license-image">
            <% if license.photos.first.present? %>
              <%= image_tag license.photos.first, height: 300, width: 400, crop: :fill, alt: license.keyword %>
            <% else %>
              <%= image_tag 'ji.JPG', height: 300, width: 400, crop: :fill, alt: 'Default bike image' %>
            <% end %>
          </div>
          <div class="license-info">
            <h2 class="license-title"><strong><%= license.keyword %> - €<%= license.cost %></strong></h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="license-challenges">
    <h1><%= t('challenges.title') %></h1>
    <p><%= t('challenges.content') %></p>
    <ul>
      <% t('challenges.list').each do |challenge| %>
        <li><strong><%= challenge %></strong></li>
      <% end %>
    </ul>
    <p><%= t('challenges.conclusion') %></p>
  </div>

  <h1><%= t('driving_school.title') %></h1>
  <p><%= t('driving_school.description') %></p>

  <div class="used-car-promo">
    <div class="promo-content">
      <h2><%= t('driving_school.why_choose.title') %></h2>
      <ul>
        <% t('driving_school.why_choose.list').each do |point| %>
          <li><strong><%= point %></strong></li>
        <% end %>
      </ul>
    </div>
  </div>

  <h2><%= t('driving_school.services.title') %></h2>
  <ul>
    <% t('driving_school.services.list').each do |service| %>
      <li><strong><%= service %></strong></li>
    <% end %>
  </ul>
</div>
<div id="reviews-container" data-controller="scroll">
  <h2 style="text-align: center; margin: 10px;"><%= t('testimonials.title') %></h2>
  <p style="text-align: center;"><%= t('testimonials.content') %></p>
  <div class="reviews-row" data-scroll-target="row">
    <% @reviews.each do |review| %>
      <div class="review-card">
        <% if review.photo.attached? %>
          <%= image_tag review.photo, alt: review.name, class: "review-photo" %>
        <% end %>
        <div class="review-content">
          <p class="review-author">By <%= review.name %></p>
          <div class="review-rating">
            <% review.rating.times do %>
              <i class="fas fa-star yellow-star"></i>
            <% end %>
            <% (5 - review.rating).times do %>
              <i class="fas fa-star grey-star"></i>
            <% end %>
          </div>
          <p class="review-text"><%= review.comment%></p>
        </div>
      </div>
    <% end %>
  </div>
  <button class="carousel-button left" data-action="click->scroll#slideLeft">
    <i class="fas fa-chevron-left"></i>
  </button>
  <button class="carousel-button right" data-action="click->scroll#slideRight">
    <i class="fas fa-chevron-right"></i>
  </button>
</div>

<%= render "shared/faq" %>
