<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3><%= t('footer.contact_us') %></h3>
      <ul>
        <li><%= t('footer.phone') %></li>
        <li><%= t('footer.address') %></li>
        <li><%= t('footer.email') %></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3><%= t('footer.quick_links') %></h3>
      <ul>
        <li><%= link_to t('footer.about'), about_licenses_path %></li>
        <li><%= link_to t('footer.services'), new_contact_path %></li>
        <li><%= link_to t('footer.faq'), faq_licenses_path %></li>
        <li><%= link_to t('footer.contact'), new_contact_path %></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3><%= t('footer.our_branches') %></h3>
      <ul>
        <li><%= t('footer.branch1') %></li>
        <li><%= t('footer.branch2') %></li>
        <li><%= t('footer.branch3') %></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p><%= t('footer.copyright') %></p>
  </div>
</footer>
