<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <div class="logo">
        <%= image_tag "flag.webp", alt: "Buy driver's license" %>
        <p><%= t('nav.head') %></p>
      </div>

    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="<%= root_path(locale: I18n.locale) %>"><%= t('nav.home') %></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <%= t('nav.license') %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% License.all.each do |license| %>
                <li>
                  <%= link_to license.country, license_path(locale: set_locale_from_license(license), slug: license.slug), class: "dropdown-item" %>
                </li>
              <% end %>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="<%= about_licenses_path(locale: I18n.locale) %>"><%= t('nav.about') %></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="<%= faq_licenses_path(locale: I18n.locale) %>"><%= t('nav.faq') %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_contact_path %>"><%= t('nav.contact') %></a>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
