<!-- app/views/contacts/index.html.erb -->
<h1><%= t('contact.title') %></h1>
<% if user_signed_in? %>
  <%= button_to "sign out", destroy_user_session_path, method: :delete, class: "btn-primary" %>
<% else %>
  <%= button_to "Sign-in", new_user_session_path, class: "btn-primary" %>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th><%= t('contact.name') %></th>
      <th><%= t('contact.phone') %></th>
      <th><%= t('contact.email') %></th>
      <th><%= t('contact.location') %></th>
      <th><%= t('contact.message') %></th>
    </tr>
  </thead>
  <tbody>
    <% if @contacts.present? %>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.name %></td>
          <td><%= contact.phone %></td>
          <td><%= contact.email %></td>
          <td><%= contact.location %></td>
          <td><%= contact.message %></td>
        </tr>
      <% end %>
    <% else %>
      <div>NO contacts yet</div>
    <% end %>
  </tbody>
</table>
